// colors
$color-1: rgb(108, 108, 182);
$color-2: rgb(24, 116, 29);

$color-warning: rgb(185, 56, 56);
$color-success: rgb(46, 136, 46);

// background
$background-color-1: $color-1;
$background-color-2: $color-2;
$background-color-3: rgb(126, 168, 28);

$header-background-color: $background-color-1;

// fonts
$text-color-white: #fff;
$text-color-1: gray;
$text-color-todo: #333;

$header-text-color: $text-color-white;
